/*HEADLINE COMPONENT*/

.headline{
  margin:auto;
  text-align: center;
}
.logo{
  width:30px;
  height:46px;
  background-color: red;
  display:inline-block;
  margin-right:30px;
}
.headline h1{
  display:inline-block;
  font-size: 4em;
}

/*INPUT COMPONENT*/

.inputComp{
  margin: auto;
  text-align: center;
  height:130px;
}
.inputComp input{
  margin-top:40px;
  font-size: 2em;
  margin-right: 10px;
}
.inputComp button{
  margin-top:40px;
  font-size: 2em;
  background-color: red;
}



/*this next part is just for us to see the component better while*/
/*buidling it*/

.headline{
  outline: 1px black solid;
  outline-offset:-20px;
}

.inputComp{
  outline: 1px black solid;
  outline-offset:-20px;
}
